<?xml version="1.0" encoding="utf-8" ?>
<TextAnalysis>
  <Demo>
    <TextClassification Run="false">
      <Input Path=""/>
      <Output Path=""/>
    </TextClassification>
    <Word2Vector Run="false">
      <Input Path=""/>
      <Output Path=""/>
    </Word2Vector>
  </Demo>
  <Python Path=""/>
</TextAnalysis>